
.catalog {

}

.id {
    opacity: 0.5;
    font-family: monospace;
}

.catalogPage {

}

.catalogPageContent .buttons {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.catalogPageContent .buttons button {
    flex-grow: 1;
    background-color: var(--div2-background-color);
    padding: 5px;
    font-size: medium;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--text-color);
    border: none;
    border-radius: 10px;
    transition: background-color 250ms;
}

.catalogPageContent .buttons button:hover {
    background-color: var(--hover-background-color);
}

.catalogPageContent .latestParts {
    display: flex;
    flex-direction: column;
    gap: 10px;

    background-color: var(--div1-background-color);
    padding: 10px;
    border-radius: 10px;
    width: calc(100vw - 20px - 50px - 45px);
}

.catalogPageContent .latestParts::-webkit-scrollbar {
    background-color: var(--scrollbar-background-color);
    border-radius: 10px;
    height: 10px;
}

.catalogPageContent .latestParts::-webkit-scrollbar-thumb {
    background-color:var(--scrollbar-color);
    border-radius: 10px;
}

.latestFlex {
    display: flex;
    justify-content: space-between;
}

.latestFlex form {
    display: flex;
    gap: 5px;
}

.latestFlex input {
    height: fit-content;
    font-size: medium;
    background-color: var(--input-background-color);
    color: var(--text-color);
    margin-top: 25px;
    padding: 10px;
}

.latestFlex input::placeholder {
    color: var(--input-placeholder-color);
    opacity: 1; /* Firefox */
}

.part {
    background-color: var(--div2-background-color);
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    max-width: calc(100% - 20px);
    min-width: calc(100% - 20px);
}

.part .partData {
    display: flex;
    flex-direction: column;
}

.part img {
    align-self: center;
    border-radius: 5px;
}

.part h4,
.part h4 pre {
    margin-top: 0px;
    margin-bottom: 0px;
}

.part h5,
.part h5 pre {
    margin-top: 5px;
    margin-bottom: 10px;
}
