/*

    Theme : Catppuccin Mocha

    Load using `import "themes/CatppuccinMocha.css"` in App.jsx

*/

:root {

    /* Do not change */
    
    --Rosewater: #f5e0dc;
    --Flamingo: #f2cdcd;
    --Pink: #f5c2e7;
    --Mauve: #cba6f7;
    --Red: #f38ba8;
    --Maroon: #eba0ac;
    --Peach: #fab387;
    --Yellow: #f9e2af;
    --Green: #a6e3a1;
    --Teal: #94e2d5;
    --Sky: #89dceb;
    --Sapphire: #74c7ec;
    --Blue: #89b4fa;
    --Lavender: #b4befe;


    --Text: #cdd6f4;

    --Subtext1: #bac2de;
    --Subtext0: #a6adc8;

    --Overlay2: #9399b2;
    --Overlay1: #7f849c;
    --Overlay0: #6c7086;

    --Surface2: #585b70;
    --Surface1: #45475a;
    --Surface0: #313244;

    --Base: #1e1e2e;
    --Mantle: #181825;
    --Crust: #11111b;

    --Custom-Surface: #262739;
    --Custom-Surface0: #1f1f2f;
    --Custom-Green: #40a02b;
    --Custom-Background: #282c34;
    --Custom-Link: #61dafb;

    /* Setup colors here */

    --body-background-color: var(--Mantle);
    --text-color: var(--Text);
    --link-color: var(--Sapphire);

    --hover-background-color: var(--Surface0);
    --div1-background-color: var(--Base);
    --div2-background-color: var(--Mantle);
    
    --scrollbar-background-color: var(--Surface0);
    --scrollbar-color: var(--Surface2);

    --input-background-color: var(--Base);
    --input-placeholder-color: var(--Subtext0);

    --launch-button-background-color: var(--Green);
    --launch-button-color: var(--Mantle);
    --sidebar-background-color: var(--Crust);
    --sidebar-icon-background-color: var(--Base);
    --sidebar-icon-color: var(--Text);

    --download-icon-color: var(--Subtext0);
    --starred-icon-color: var(--Yellow);

    --upload-icon-color: var(--Blue);

    /* --error-color: var(--Red); */
    --error-color: red;
}
