
.launcher {

}

.id {
    opacity: 0.5;
    font-family: monospace;
}

/* .launcher svg {
    color: #40a02b;
} */

.installation {
    background-color: var(--div1-background-color);
    padding: 10px;
    border-radius: 10px;
    width: calc(100vw - 20px - 50px - 45px);
    display: flex;
    gap: 10px;
}

.installation img {
    border-radius: 10px;
}

.installation h3 {
    margin-bottom: 5px;
}

.installation h4 {
    margin-top: 10px;
}

.installation pre {
    display: inline;
    margin: 0;
}

.installation .text {
    flex-grow: 1;
}

.installation .text h4 {
    margin-bottom: 5px;
}

.installation .text h5,
.installation .text pre {
    margin: 0;
}

.installation .buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
}

.installation .buttons span {
    display: none;
}

.installation .buttons button {
    /* height: 25px; */
    background-color: var(--div2-background-color);
    padding: 8px;
    color: var(--text-color);
    border-radius: 5px;
    border: none;
    transition: background-color 400ms;
}

.installation .buttons button:hover {
    background-color: var(--hover-background-color);
}

.launcher .mainmr h2 {
    padding-left: 5px;
    padding-bottom: 0px;
    margin-bottom: 10px;
    background-color: var(--div1-background-color);
    border-radius: 10px 10px 10px 10px;
    transition: border-radius 250ms;
}

.launcher .mainmr h2.active {
    border-radius: 10px 10px 0px 0px;
}

.launcher .mainmr pre {
    margin-bottom: 0px;
}

.launcher .mainmr .content {    
    overflow: hidden;

    margin-top: -10px;
    max-height: 0px;
    transition: max-height 250ms;
}

.launcher .mainmr .content pre {    
    margin-top: 0px;
    background-color: var(--div1-background-color);
    border-top: 2px solid var(--div2-background-color);
    padding: 5px;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.launcher .down {
    display: flex;
    gap: 5px;
    justify-content: space-between;
}

.launcher .down button {
    /* height: 25px; */
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: var(--div0-background-color);
    padding: 8px;
    color: var(--text-color);
    border-radius: 5px;
    border: none;
    transition: background-color 250ms;
}

.launcher .down button:hover {
    background-color: var(--hover-background-color);
}
