
.sidebar {
    position: fixed;
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 50px;
    background-color: var(--sidebar-background-color);
    border-radius: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    justify-content: space-between;
}

.sidebar .top,
.sidebar .bottom {
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebarItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: var(--sidebar-icon-background-color);
    color: var(--sidebar-icon-color);
    fill: var(--sidebar-icon-color);
    scale: 1;
    transition: border-radius 250ms, scale 250ms;
}

.sidebarItem.launch {
    background-color: var(--launch-button-background-color);
    color: var(--launch-button-color);
}

.sidebarItem:hover {
    border-radius: 10px;
    scale: 1.1;
}
